@import url(https://fonts.googleapis.com/css?family=Kalam:700);

body {
  background: url('trees.jpg');
  font-family: 'Kalam', cursive; sans-serif;
}

#main-content {
  background: rgba(255, 255, 255, 0.95);
  margin: 4vw;
  margin-left: -40px;
  margin-right: -40px;
  padding: 5vw;
  border: none;
  border-radius: 20px;
}

#main-text {
  margin: 0 14vw 0 4vw;
}
#main-text h1 {
  font-size: 45px;
  line-height: 53px;
}
#main-text #head {
  color: rebeccapurple;
  font-size: 56px;
}
#main-text h2 {
  text-align: right;
  font-size: 32px;
  color: #2a526f;
}

#quote-content {
  margin-left: 8vw;
}

button {
  font-family: 'Kalam', cursive; sans-serif;
  float: left;
  font-size: 28px;
  padding-left: 15px;
  padding-right: 15px;
  border: 2px solid #42c5ff;
  border-radius: 10px;
  background-color: #FFF;
}
button:hover {
  background-color: #ffff98;
}

#twitter img {
  float: inherit;
  margin-left: 8px;
  border: 2px solid #42c5ff;
  border-radius: 10px;
  padding: 6.5px;
  width: 37px;
  height: 37px;
  background-color: #FFF;
}
#twitter img:hover {
  background-color: #ffff98;
}

/* Small Screen */
@media (max-width: 480px) {
  #main-content {
    margin: 1vw;
    padding: 2vw;
  }
  
  #main-text h1 {
    font-size: 30px;
    line-height: 40px;
  }
  #main-text #head { 
    font-size: 43px;
  } 
  
  #twitter img {
    margin-left: 4vw;
  }
}